@model HRM.Models.DepartmentTask

@{  
    var a = Model;
    ViewData["Title"] = "Thêm chức danh";
}

<h2>Thêm chức danh</h2>

<form asp-action="AddTask" method="post">
    <div class="form-horizontal">
        <h4>Chức danh</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Employee.EmployeeCode"/>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select class="form-control border-input" asp-for="Title" asp-items="ViewBag.DepartmentTitles">
                    <option value="">-- Chọn chức danh --</option>
                </select>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Tên việc</label>
            <div class="col-md-10">
                <input type="text" asp-for="Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm chức danh" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
