@model HRM.Models.DepartmentTask

@{  
    var a = Model;
    ViewData["Title"] = "Thêm công việc";
}



<h2>Thêm chức danh</h2>

<form asp-action="AddTask" method="post" asp-route-departmentID="@ViewBag.DepartmentID">
    <div class="form-horizontal">
        <h4>công việc</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       
        <div class="form-group">
            <label class="col-md-2 control-label">Mã số nhân viên</label>
            <div class="col-md-10">
                <input class="form-control border-input" type="text" name="employeeCode"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Tên việc</label>
            <div class="col-md-10">
                <input class="form-control border-input" type="text" asp-for="Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm công việc" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="DepartmentDetail" asp-route-departmentID="Model.Department.DepartmentID">Trở lại</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
