@model HRM.Models.DepartmentTitle

<div class="alert alert-dismissable">
    <h2 class="text-danger">
        Bạn có chắc muốn xóa nhân viên @Model.Employee.FullName khỏi phòng này ?
    </h2>
    <div>
        <form asp-action="DeleteTitleConfirmed" asp-route-titleID="@Model.DepartmentTitleID">
            <button type="submit" role="button" class="btn btn-danger">Xóa</button>
        </form>
    </div>
</div>
