@model Department
@{
    ViewBag.Title = "Quản lý nhân viên";
}


@*@if (User.IsInRole("Manager"))
    {
        <a class="btn btn-primary" asp-controller="Employees" asp-action="AddEmployee">Thêm Nhân Viên</a>
    }*@
<div id="content-header">
    <div id="breadcrumb"><a asp-controller="Employees" asp-action="Index" title="Quản lý nhân viên" class="tip-bottom"> Quản lý nhân viên </a></div>

</div>
<!--End-breadcrumbs-->
<!--Action boxes-->
<div class="container-fluid">
    <div style="margin: auto;">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div style="text-align: center;margin: 2em;">
            <h3><b>DANH SÁCH NHÂN VIÊN</b></h3>
        </div>
        <a class="btn btn-primary" asp-controller="Employees" asp-action="AddEmployee" style="margin-bottom: 2em;">Thêm Nhân Viên</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>MSNV</th>
                    <th>Tên nhân viên</th>
                    <th>Chức danh</th>
                    <th>Công việc</th>
                    <th>Mô tả</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DepartmentTitles)
                {
                    <tr>
                        <td></td>
                        <td>Tên nhân viên</td>
                        <td>Chức danh</td>
                        <td>Công việc</td>
                        <td>Mô tả</td>
                        <td>
                            <form method="post">
                                <a class="btn btn-sm btn-primary" href="#">
                                    <i style="font-size: 20px" class="fa fa-pencil"></i>
                                </a>

                                <button type="submit"
                                        class="btn btn-sm btn-danger">
                                    <i style="font-size: 20px" class="fa fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>