
@{
    ViewBag.Title = "Thêm nhân viên";
}



<div id="content-header">
    <div id="breadcrumb"><a asp-controller="Departments" asp-action="Index" title="Quản lý phòng ban" class="tip-bottom"> Quản lý phòng ban </a> <a asp-controller="Departments" title="Thêm phòng ban" asp-action="AddDepartment"> Thêm phòng ban </a></div>

</div>
<!--End-breadcrumbs-->
<!--Action boxes-->
<div class="container-fluid">
    sdasdasdasd
    asdasdasda
    dasdasd
</div>