@{
    ViewData["Title"] = "Truy cập thất bại";
}

<header class="alert alert-warning">
    <h1 class="text-danger">Không thể truy cập.</h1>
    <p class="text-danger">Bạn không có quyền truy cập trang này.</p>
</header>
