@model IEnumerable<AppUser>

@{
    ViewBag.Title = "Quản lý tài khoản";
}


<div class="col-md-6">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="card">
        <div class="header">
            <h4 class="title"><b>TÀI KHOẢN NGƯỜI DÙNG</b></h4>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-striped">
                <thead>
                    <tr><th>Tên</th><th>Email</th><th></th></tr>
                </thead>
                <tbody>
                    @foreach (AppUser user in Model)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>
                                <a class="btn btn-primary" asp-action="EditAccount" asp-route-id="@user.Id">
                                    Sửa
                                </a>                               
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*<div style="padding-left: 1em"><a class="btn btn-primary" asp-action="Register">Tạo tài khoản</a></div>*@
        </div>
    </div>


</div>