@model Employee

<div class="alert alert-dismissable">
    <h2 class="text-danger">
        Bạn có chắc muốn xóa nhân viên @Model.FullName!
    </h2>
    <div>
        <form asp-action="DeleteConfirmed" asp-route-employeeID="@Model.EmployeeID">
            <button type="submit" role="button" class="btn btn-danger">Xóa</button>
        </form>
    </div>
</div>

