@model Salary

@{
    ViewData["Title"] = "Xóa tính lương";
}

<h2>Xóa tính lương</h2>
<div class="alert alert-dismissable">
    <h2 class="text-danger">
        Bạn có chắc muốn xóa tính lương này ?
    </h2>
    <div>
        <form asp-action="Delete" asp-route-id="@Model.SalaryID" method="post">
            <button type="submit" role="button" class="btn btn-danger">Xóa</button>
        </form>
    </div>
</div>